<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Contact Me</h1>
        </div>


        <div class="col-md-6">
            <h2>Get in Touch</h2>
            <p>If you have any questions or would like to collaborate, feel free to reach out!</p>
            <ul>
                <li>&#9993;: <a href="mailto:">aman07nema@gmail.com</a></li>
                <li>&#9742;: <a href="tel:+918357856433">+918357856433</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/aman-nema-648012166">Aman Nema</a></li>
                <li>&#8962;: Jabalpur, Madhya Pradesh, India</li>
            </ul>
            <p>Feel free to connect with me on any of the platforms above. I look forward to hearing from you!</p>
        </div>
</div>
</div>
               