<div class="container mt-5">
    <div class="row text-center ">
        <div class="col-md-12">
            <h1>Welcome to the Project Page!</h1>
            <p>Here you can find all the details about my projects.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol>
                <li>Project: Sample design of Dashboard Using Html, Css and Jquery</li>
                <div class="list-content">
                    <img src="../../assets/img/project-1.PNG" alt="" class="img-fluid">
                    <a class="btn btn-danger mt-2" href="https://github.com/aman007-123/Sample-design">Source code here</a>
                </div>

                <li>Project: Product selection card Design</li>
                <div class="list-content">
                    <img src="../../assets/img/project-2.PNG" alt="" class="img-fluid">
                    <a class="btn btn-danger mt-2" href="https://github.com/aman007-123/proveway-task">Source code here</a>
                </div>

                <li>Project: A simple contact manager application built using Angular web technology. It is based on CRUD functionality, One can add, view, edit and delete contact. DB used is JSON-server</li>
                <div class="list-content">
                    <img src="../../assets/img/project-3.PNG" alt="" class="img-fluid">
                    <a class="btn btn-danger mt-2" href="https://github.com/aman007-123/contact-app">Source code here</a>
                </div>

                <li>Project: Developed SPA using Angular framework and named as Product List App. Implemented mentioned below functionalities in the App. Login/signup system with Authentication, Dashboard having tables with pagination effect, CRUD functionality to the product list stored in the table</li>
                <div class="list-content">
                    <img src="../../assets/img/project-4.PNG" alt="" class="img-fluid">
                    <a class="btn btn-danger mt-2" href="https://github.com/aman007-123/Angular-App">Source code here</a>
                </div>

                <li>Project: An ongoing project of blog website "Jabalpuriya" using  MEAN stack</li>
                <div class="list-content">
                    <img src="../../assets/img/project-5.PNG" alt="" class="img-fluid">
                    <a class="btn btn-danger mt-2" href="https://github.com/aman007-123/MEAN-JBP">Source code here</a>
                </div>
            </ol>
        </div>
    </div>
</div>
