<div class="container-fluid text-center mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/img/my-pic.jpg" alt="my-photo" class="img-fluid rounded-circle" style="width: 300px; height: 300px;">
        </div>
        <div class="col-md-6">
            <h1 class="display-4">Welcome to My Portfolio</h1>
            <p class="lead">Hello! I'm <span class="text-primary">Aman Nema</span> a passionate Angular Frontend Specialist with 4 Years of Experience in Crafting Interactive Web Interfaces, Now Aiming to Transition into a Full-Stack Developer Position to Deliver End-to-End Solution. Explore my projects and learn more about my skills.</p>
            
            <div class="d-flex justify-content-center gap-3 mt-4">
            <a class="btn btn-danger" routerLink="/projects">View Projects</a>
            <a class="btn btn-secondary" routerLink="/contact">Contact Me</a>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Skill set</h2>
            <div class="skills">
                <figure>
                    <img src="../../assets/img/angular.png" alt="" class="skill">
                    <figcaption>Angular 19</figcaption>
                </figure>
                <figure>
                    <img src="../../assets/img/html.webp" alt="" class="skill">
                    <figcaption>HTML 5</figcaption>
                </figure>
                <figure>
                    <img src="../../assets/img/css.webp" alt="" class="skill">
                    <figcaption>CSS 3</figcaption>
                </figure>
                <figure>
                    <img src="../../assets/img/js.webp" alt="" class="skill">
                    <figcaption>JavaScript</figcaption>
                </figure>
                <figure>
                    <img src="../../assets/img/typescript.png" alt="" class="skill">
                    <figcaption>Typescript</figcaption>
                </figure>
                <figure>
                    <img src="../../assets/img/rxjs.png" alt="" class="skill">
                    <figcaption>RXJS</figcaption>
                </figure>
                 <figure>
                    <img src="../../assets/img/ngrx.png" alt="" class="skill">
                    <figcaption>NGRX</figcaption>
                </figure>
                <figure>
                    <img src="../../assets/img/bootstrap.png" alt="" class="skill">
                    <figcaption>Bootstrap</figcaption>
                </figure>
                <figure>
                    <img src="../../assets/img/nodejs.jpeg" alt="" class="skill">
                    <figcaption>Node.Js</figcaption>
                </figure>
                <figure>
                    <img src="../../assets/img/sql.jpg" alt="" class="skill">
                    <figcaption>SQL Server</figcaption>
                </figure>
                <figure>
                    <img src="../../assets/img/git.png" alt="" class="skill">
                    <figcaption>Git</figcaption>
                </figure>
            </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-12">
        <p>4 years of experience in Angular development with good
knowledge in components, routing, services and data bindings.
Well versed with web technologies like HTML, CSS and JS, can
use them to make attractive and dynamic web pages. Technical
bridge between engineering and software, collaborative, adaptable
and keen on innovative projects.</p>
    </div>
</div> -->
</div>
